@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




.ld-lightBlue {
    border: 10px solid #a8d2d2;
}

.ld-wrapper {
    width: 250px;
    height: 250px;   
    margin: 10px auto;
    position: relative;
    background: white;
    background-color: #f3f3f4;
    -webkit-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
    -webkit-animation: finalRota 2s 10s linear forwards;
    animation: finalRota 2s 10s linear forwards;
}

.ld-wrapper .ld-pie {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: radial-gradient(left center, circle, #00ccff 0px, #000088 100%);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.ld-wrapper .ld-spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    background-color: radial-gradient(right center, circle, #00ccff 0px, #000088 100%);
    border-right: none;
    -webkit-animation: rota 10s linear forwards;
    animation: rota 10s linear forwards;
}

.wrapper .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    border: 10px solid #8dbdbb;
    opacity: 0;
    z-index: 100;
    border-left: none;
    -webkit-animation: fill 10s steps(1, end) forwards;
    animation: fill 10s steps(1, end) forwards;
}

.ld-wrapper .ld-mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
    -webkit-animation: mask 10s steps(1, end) forwards;
    animation: mask 10s steps(1, end) forwards;
}

@-webkit-keyframes opoFinalRota {
    100% {
        -webkit-transform: rotate(30deg);        
        -ms-transform: rotate(30deg);        
        transform: rotate(30deg);
    }
}

@keyframes opoFinalRota {
    100% {
        -webkit-transform: rotate(30deg);        
        -ms-transform: rotate(30deg);        
        transform: rotate(30deg);
    }
}
@-webkit-keyframes rota {
    0% {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
    }
    100% {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
}
@keyframes rota {
    0% {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
    }
    100% {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
}
@-webkit-keyframes mask {
    0% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}
@keyframes mask {
    0% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}
@-webkit-keyframes fill {
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}
@keyframes fill {
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}